.logo{
   width: 280px;
    height: 32px;
    margin-top: -5px;
    padding-left: 0px;
}
body{
    height: 1800px; 
    width:99%; 
}

.container-fluid{
     background-image: url("images/bg.jpg");
     height: 850px;
     background-repeat: no-repeat;
     background-size: cover;
    width: 101%;
}

.navbar{
        background-color: rgba(0, 0, 0, 0.22);
}

.navbar-collapse a{
    color: #fff !important;
}

.navbar-collapse a:hover{
    color: #ccc !important;
}

.profilepic{
    margin-top: 3em;
    height: 160px;
    border-radius: 50%;
    width: 160px;
    border: 1px solid rgba(255, 255, 255, 0.8);;
    padding: 0.5em;
    /*border: solid 1px #000*/
    background-color: rgb(93, 97, 124);
    
}

.heading{
        font-size: 16px;
}

.container-pp{
    float: none !important;
}

.banner{
    width: 100%;
    margin: 0;
    margin-top: 40px;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    line-height: 1.65;
} 

.heading{
    font-size: 3.25em;
    margin: 1em 0 1em 0em;
    letter-spacing: 0.025em;
    border-bottom: 2px solid #fff;
    width: 950px;
    padding-bottom: 35px;
}

.main-banner{
    margin-left: 12em; 
}

.paragraph p{
    font-size: 9px;
    /*text-align: justify;*/
    letter-spacing: 3px;
     line-height: 2em;
     font-family: 'Raleway', sans-serif;
        padding: 5px 0 0 0;
    }

.paragraph{
}

.button{
    height: 40px;
    width: 175px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    text-align: left;
    padding-left: 12px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwczovL3d3dy53My5vcmcvMTk5OS94bGluaycgd2lkdGg9JzM2cHgnIGhlaWdodD0nMjRweCcgdmlld0JveD0nMCAwIDM2IDI0JyB6b29tQW5kUGFuPSdkaXNhYmxlJz48c3R5bGU+bGluZSB7IHN0cm9rZTogIzliZjFmZjsgc3Ryb2tlLXdpZHRoOiAycHg7IH08L3N0eWxlPjxsaW5lIHgxPScwJyB5MT0nMTInIHgyPSczNCcgeTI9JzEyJyAvPjxsaW5lIHgxPScyNScgeTE9JzQnIHgyPSczNCcgeTI9JzEyLjUnIC8+PGxpbmUgeDE9JzI1JyB5MT0nMjAnIHgyPSczNCcgeTI9JzExLjUnIC8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position-x: 121px;
    background-position-y: 7px;
    border-radius: 3px;
}
 
.button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

.one{
    height:350px;
    background-size: cover;
    background-color: #00e2ff;
    overflow: hidden;
    padding: 0px;
}

.four{
    height: 350px;
    background-size: cover;
    padding: 0; 
}

.one-span:hover ,.four-span:hover ,.two-span:hover ,.three-span:hover{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.one-span,.two-span,.four-span ,.three-span{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    opacity: 0.2; 
}

.two{
    height: 350px;
    background-size: cover;
    background-color: #7082e5;
    overflow: hidden;
    padding: 0px;
    
}

.three{
    height: 350px;
    background-size: cover;
    padding: 0px;
    overflow: hidden; 
}

.row{
    margin: 0x;

}









/*for mobile size*/
@media screen and (max-width: 767px) {
    
    
    .profilepic{
        height: 100px;
        width: 100px;
        margin-top: 5px;
    }
    
    
    .logo{
        padding-left: 0px;
        width: 200px;
    }

    .heading{
        font-size: 24px !important;
    margin-left: 0em !important;
    margin: 0.5em 0 0.5em 0 !important;
    letter-spacing: 0.01em !important;
    border-bottom: 2px solid #fff;
    width: 300px !important;
    padding-bottom: 35px;
    }

    .main-banner{
    margin-left: 1em !important; 
    }
    .paragraph p{
    font-size: 10px;
    letter-spacing: 1px !important;
    }

    .container-fluid{
        height: 100vh;
    }

    /*.one{
        height: 200px;
        width: 100%;
    }*/
}

/*for tablet size*/
@media (min-width: 768px) and (max-width: 991px) {
.profilepic{
        height: 130px;
        width: 130px;
        margin-top: 0.5em;
    }
    .one{
        height:400px;
    }    
    .one-span{
        background-size: 100% 100% !important;
    }

.container-fluid{
     height: 140vh;
}

.main-banner{
    margin-left: 10px;
}
    .heading{
        margin-left: 0px !important;
    font-size: 3.25em;
    margin: 10px 0 10px 0;
    letter-spacing: 0.025em;
    border-bottom: 2px solid #fff;
    width: 950px;
    padding-bottom: 10px;
}
}
